.cart_body {
	background: url("../../../public/store1.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
    height: 100vh;
}




.login_box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 130px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login_box .box_header {
	background-color: #305033;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
    padding: 20px ;
    font-size: 25px;
    color: white;
}





.selected {
	color: #665851!important;
	transition: 0.5s;
}

